<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <div>
        <h3>User Name<%= users.name %></h3>
      </div>
      <nav>
        <ul>
          <li>
            <a href="/users"
              ><button type="submit" class="btn1">Back</button></a
            >
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <h2>List of Incomes</h2>
      <ul>
        <% users.incomeId.forEach(income => { %>
        <li>
          <a href="/dashboard/?source=<%= income.source %>"
            ><%= income.source %></a
          >
        </li>
        <% }) %>
      </ul>
      <h2>filter by date</h2>
      <form action="/dashboard/filterdate" method="POST">
        <input type="date" placeholder="startdate" name="startDate" />
        <input type="date" placeholder="enddate" name="endDate" />
        <button type="submit">search</button>
      </form>

      <section>
        <% if(incomes.length > 0){ %> <% incomes.forEach(income => { %>
        <div>
          <h2><%= income.income %></h2>
          <h2><%= income.amount %></h2>
        </div>

        <% }) %> <% expenses.forEach(expense => { %>
        <div>
          <h2><%= expense.category %></h2>
          <h2><%= expense.amount %></h2>
        </div>

        <% }) %> <% if(balance) {%>
        <h2>Balance: <span><%= balance %></span></h2>
        <% } %>
      </section>
    </main>
  </body>
</html>
